html, body{
	width : 100%;
	height: 100%;
	overflow: hidden;
	margin : 0;
	padding: 0;
}

#renderCanvas{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	touch-action: none;
}
#scoreLabel {
    position:absolute;
    top:20px;
    left : 20px;
    color:white;
    font-size: 2em;
}
a.button {
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding: 1px 6px;

    font: 13.3333px Arial;
    text-rendering: auto;
    text-align: center;
    text-transform: none;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    letter-spacing: normal;
    word-spacing: normal;
    color: buttontext;

    border: 2px outset buttonface;
    border-image: initial;

    background-color: buttonface;

    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

	cursor: default;
	position: absolute;
	top:50%;
	font-size: 50px;
}

.button {border-style: inset;}

.wrapper {
    text-align: center;
}
